textarea, textarea.form-control,
input.form-control, input[type=text],
input[type=password], input[type=email],
input[type=number], [type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
    padding: 0;
    border: 0px;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #dddddd;
    box-shadow: inset 0 -1px 0 #dddddd;
    font-size: 16px;
    padding-left: 4px;
}
input[type=text]:focus, .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    border: none !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
    color: #bbbbbb;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #bbbbbb;
}
.form-control::-webkit-input-placeholder {
    color: #bbbbbb;
}
.form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: transparent;
    opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}
textarea.form-control {
    height: auto;
}
.panel {
    margin-bottom: 23px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
    padding: 15px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}

.panel > .table-responsive {
    border: 0;
    margin-bottom: 0;
}
.panel-group {
    margin-bottom: 23px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 3px;
}
.panel-group .panel + .panel {
    margin-top: 5px;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #dddddd;
}
.panel-group .panel-footer {
    border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #dddddd;
}
.panel-default {
    border-color: #dddddd;
}
.panel-default > .panel-heading {
    color: #212121;
    background-color: #f5f5f5;
    border-color: #dddddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #dddddd;
}
.panel-default > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #212121;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #dddddd;
}
.panel-primary {
    border-color: #2196f3;
}
.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #2196f3;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #2196f3;
}
.panel-primary > .panel-heading .badge {
    color: #2196f3;
    background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #2196f3;
}
.panel-success {
    border-color: #d6e9c6;
}
.panel-success > .panel-heading {
    color: #ffffff;
    background-color: #4caf50;
    border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
    color: #4caf50;
    background-color: #ffffff;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #d6e9c6;
}
.panel-info {
    border-color: #cba4dd;
}
.panel-info > .panel-heading {
    color: #ffffff;
    background-color: #9c27b0;
    border-color: #cba4dd;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #cba4dd;
}
.panel-info > .panel-heading .badge {
    color: #9c27b0;
    background-color: #ffffff;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #cba4dd;
}
.panel-warning {
    border-color: #ffc599;
}
.panel-warning > .panel-heading {
    color: #ffffff;
    background-color: #ff9800;
    border-color: #ffc599;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ffc599;
}
.panel-warning > .panel-heading .badge {
    color: #ff9800;
    background-color: #ffffff;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ffc599;
}
.panel-danger {
    border-color: #f7a4af;
}
.panel-danger > .panel-heading {
    color: #ffffff;
    background-color: #e51c23;
    border-color: #f7a4af;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #f7a4af;
}
.panel-danger > .panel-heading .badge {
    color: #e51c23;
    background-color: #ffffff;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #f7a4af;
}





.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
.nav > li.disabled > a {
    color: #bbbbbb;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #bbbbbb;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #2196f3;
}
.nav .nav-divider {
    height: 1px;
    margin: 10.5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.nav > li > a > img {
    max-width: none;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.846;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
}
.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #666666;
    /* background-color: transparent; */
    border: 1px solid transparent;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 0px !important;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid transparent;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid transparent;
        border-radius: 3px 3px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}
.nav-pills > li {
    float: left;
}
.nav-pills > li > a {
    border-radius: 3px;
}
.nav-pills > li + li {
    margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #2196f3;
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0;
}
.nav-justified {
    width: 100%;
}
.nav-justified > li {
    float: none;
}
.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs-justified {
    border-bottom: 0;
}
.nav-tabs-justified > li > a {
    margin-right: 0;
    border-radius: 3px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
    border: 1px solid transparent;
}
@media (min-width: 768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid transparent;
        border-radius: 3px 3px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.navbar {
    position: relative;
    min-height: 64px;
    margin-bottom: 23px;
    border: 1px solid transparent;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 3px;
    }
}
@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}


.panel {
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.panel-heading {
    border-bottom: none;
}
.panel-footer {
    border-top: none;
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus {
    margin-right: 0;
    background-color: transparent;
    border: none;
    color: #666666;
    -webkit-box-shadow: inset 0 -1px 0 #dddddd;
    box-shadow: inset 0 -1px 0 #dddddd;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus:hover {
    background-color: transparent;
    -webkit-box-shadow: inset 0 -2px 0 #2196f3;
    box-shadow: inset 0 -2px 0 #2196f3;
    color: #2196f3;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
    border: none;
    -webkit-box-shadow: inset 0 -2px 0 #2196f3;
    box-shadow: inset 0 -2px 0 #2196f3;
    color: #2196f3;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus:hover {
    border: none;
    color: #2196f3;
}
.nav-tabs > li.disabled > a {
    -webkit-box-shadow: inset 0 -1px 0 #dddddd;
    box-shadow: inset 0 -1px 0 #dddddd;
}
.nav-tabs.nav-justified > li > a,
.nav-tabs.nav-justified > li > a:hover,
.nav-tabs.nav-justified > li > a:focus,
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: none;
}
.nav-tabs .dropdown-menu {
    margin-top: 0;
}

.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.padding-top-40 {
    padding-top: 40px;
}
.padding-bottom-40 {
    padding-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.padding-top-60 {
    padding-top: 60px;
}
.padding-bottom-60 {
    padding-bottom: 60px;
}


.loading-animation {
    width: 40px;
    height: 40px;
    position: relative;
    left: 50%;
    background-image: url(./preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

/*
========================================================================
Pricing styles
------------------------------------------------------------------------
*/

.pricing-plan {
    background-color: #EAEBEC;
    padding: 0px 0px 40px 0px;
    border-radius:6px;
    /*padding: 10px 0px;*/
    color: #333b4d;
    margin: 0px 20px 30px 20px;
}
.pricing-plan h4{
    background-color: #333b4d;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.pricing_circle {
    width: 126px;
    height: 126px;
    background: rgba(51,59,77,.4);
    border-radius: 100%;
    -moz-border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    margin-top: 30px;
    color: #fff;
    text-transform: uppercase;
}
.pricing_circle h5{
    margin: 16px 0px 0px 0px;
}
.pricing_circle .pricing-amount{
    font-size: 42px;
    color: #333b4d;
    font-weight: 700;
}
.pricing-plan .table{
    margin-top: 20px;
}
.pricing-plan .table td{
    border: none;
}
.pricing-plan a{
    background-color: #333b4d;
    padding: 10px 50px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.pricing-plan a:hover{
    background-color: #3bc0c3;
}
.pricing_head h5,.pricing_head h3{
    text-transform: uppercase;
    font-weight: 500;
}
.pricing_head .pricing_currency{
    position: relative;
    top: -25px;
    font-size: 20px;
    font-weight: 400;
}
.pricing_head .pricing_amount-2{
    font-size: 60px;
}